{% extends 'index.html' %}

{% block title %} Lista {% endblock %}

{% block content %}

    <h1>Lista de favoritos</h1>
    <hr>

    <table class="table table-bordered table-hover">
        <tr>
            <td><strong>Nombre</strong></td>
            <td><strong>Url</strong></td>
            <td><strong>Opciones</strong></td>
        </tr>

        {% for fav in favoritos %}

            <tr>
                <td> {{fav.nombre}} </td>
                <td> <a href="{{fav.url}}">{{fav.url}}</a> </td>
                <td><a href="{% url 'favoritos:borrar' fav.pk %}">Borrar</a> | <a href="{% url 'favoritos:editar' fav.pk %}">Editar</a></td>
            </tr>

        {% endfor %}

    </table>

    <a href="{% url 'favoritos:crear' %}">Crear Favorito</a>

{% endblock %}